*{
    
    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Playfair Display SC';
    font-weight: 400;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container{
    width: 500px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
