*{
    
    margin: 0;
    padding: 0; 
}
body{
    /* font-family: ' DiPlayfairsplay SC'; */
    font-weight: 400;
    color: #fff;

}
a {
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: red;
}
img {
    max-width: 100%;
}
    .wrapper {
        background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 50%);
        width: 100%;
    }

.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    color: #fff;
}